## Question 1
The following table indicates the number of 6-point scores in an American rugby match in the 1979 season.

![](table1.png)

Based on these results, we create a Poisson distribution with the sample mean parameter  = 2.435. Is there any reason to believe that at a .05 level the number of scores is a Poisson variable?

In [135]:
import pandas as pd
import numpy as np
from scipy.stats import poisson
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import scipy
from scipy.stats import binom
from scipy.stats import poisson
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind
from scipy.stats import t
from scipy.stats import skew, kurtosis
from scipy.stats import shapiro
from scipy.stats import binom
from scipy.stats import chi2_contingency

In [48]:
# your answer here
data=pd.DataFrame()
data['scores']=[0,1,2,3,4,5,6,7]
data['times']=[35,99,104,110,62,25,10,3]
data

   scores  times
0       0     35
1       1     99
2       2    104
3       3    110
4       4     62
5       5     25
6       6     10
7       7      3

In [49]:
poissons=[]
for i in data['scores']:
    arr = poisson.pmf(i,  2.435)
    poissons.append(arr)

In [50]:
#if poissons distribution
data['Poisson proba']=poissons

In [51]:
# Real probability
data['Probability']=data['times']/data['times'].sum()

In [52]:
data
# to prove there is poisson diribution we have to do a hypothesis t-stuudent two samples

   scores  times  Poisson proba  Probability
0       0     35       0.087598     0.078125
1       1     99       0.213301     0.220982
2       2    104       0.259693     0.232143
3       3    110       0.210784     0.245536
4       4     62       0.128315     0.138393
5       5     25       0.062489     0.055804
6       6     10       0.025360     0.022321
7       7      3       0.008822     0.006696

In [61]:
#Null hypothesis: There is no difference between the two independent variables
t,p=ttest_ind(data['Probability'], data['Poisson proba'])
#this p is for two sides and we are only calculating one tail
p/2

0.4962870874975923

In [59]:
#As Pvalue is bigger than 0.05 , we accept the hypothesis and we can
# accept the distribution is a Poisson distribution

## Question 2
The following are the ordered values of a random sample of SAT scores (university entrance exam) for several students: 852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063. In previous years, the scores were presented by N (985,50). Based on the sample, is there any reason to believe that there has been a change in the distribution of scores this year? Use the level alpha = 0.05.

In [99]:
#your answer here

SAT=[852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063]
#H0= No change so the median and std are similar
b=len(SAT)
#To compare both I create at first one distributon N(985,50) 
#with the same N in order to compare both samples . these is a random sample
s = np.random.normal(950, 50, b)
ttest_ind(SAT, s)
#for this normal random sample we got Pvalue higher than 0,05 , so we accept the hypothesis

Ttest_indResult(statistic=0.8829850547779867, pvalue=0.3847627937597933)

## Question 3
Let's analyze a discrete distribution. To analyze the number of defective items in a factory in the city of Medellín, we took a random sample of n = 60 articles and observed the number of defectives in the following table:

![](table4.png)

A poissón distribution was proposed since it is defined for x = 0,1,2,3, .... using the following model:

![](image1.png)

Does the distribution of defective items follow this distribution?

In [124]:
# your code here
data2=pd.DataFrame()
data2['number_d']=[0,1,3,4]
data2['observed']=[32,15,9,4]
poissons2=[]
lambda_=sum(data2['number_d']*data2['observed'])/(data2['observed'].sum())

for i in data2['number_d']:
    arr2 = poisson.pmf(i,  lambda_)
    poissons2.append(arr2)
    
data2['Poisson proba']=poissons2
data2['Probability']=data2['observed']/data2['observed'].sum()
data2

   number_d  observed  Poisson proba  Probability
0         0        32       0.380349     0.533333
1         1        15       0.367670     0.250000
2         3         9       0.057261     0.150000
3         4         4       0.013838     0.066667

In [126]:
#Null hypothesis: There is no difference between the two independent variables
s,pvalue=ttest_ind(data2['Probability'], data2['Poisson proba'])
#this p is for two sides and we are only calculating one tail
pvalue/2
#Pvalue is higher than 0.05 , so we can say the hypothesis is true and it follows a poisson dist

0.3798688826315695

## Question 4
A quality control engineer takes a simple of 10 tires that come out of an assembly line, and would like to verify on the basis of the data that follows, if the number of tires with defects observed over 200 days, if it is true that 5% of all tires have defects (that is, if the sample comes from a binomial population with n = 10 and p = 0.05).

In [154]:
# your answer here
distribution_sample = np.random.binomial(n=10,p=0.05, size=200)
distribution_sample
#considering the tires with defects=0

array([1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 2, 1, 1, 1, 0, 0, 4, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 2, 1, 0, 2, 0, 2, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 2, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 2, 0, 0, 0, 0, 1, 1, 0, 0, 3, 0, 0, 1, 0, 0, 1, 3, 1, 2, 0, 0,
       2, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 2, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 2, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 3, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 3, 0, 3, 0, 0, 1, 1, 2, 0, 3, 3, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0])

In [157]:
#The probabilty to get 0 frm this random sample is 
1-sum(distribution_sample == 0)/200

0.42500000000000004

In [ ]:
#More than 5% of the sample have defects. - 42.5% of all tires have defects

## Question 5
A researcher gathers information about the patterns of physical activity (AF) of children in the fifth grade of primary school of a public school. He defines three categories of physical activity (1 = Low, 2 = Medium, 3 = High). He also inquires about the regular consumption of sugary drinks at school, and defines two categories (1 = consumed, 0 = not consumed). We would like to evaluate if there is an association between patterns of physical activity and the consumption of sugary drinks for the children of this school, at a level of 5% significance. The results are in the following table: 

![](table5.png)

In [142]:
#your answer here
Fisical=[1,2,3]
si=[32,14,6]
no=[12,22,9]

In [143]:
obs=np.array([si,no])
chi2, p, dof, expctd=chi2_contingency(obs)

In [144]:
p

0.004719280137040844

In [ ]:
#P is lower than 0.05 so the hypothesis association
#between patterns of physical activity 
#and the consumption of sugary drinks
#is rejected