## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

In [3]:
# Your code here
import random
sample_list_1=random.sample(range(0,100),k=80)
print (sample_list_1)

[3, 52, 28, 65, 39, 44, 83, 14, 49, 13, 68, 36, 17, 54, 73, 4, 33, 78, 87, 6, 35, 8, 38, 9, 48, 70, 62, 12, 32, 81, 42, 51, 0, 16, 59, 79, 97, 29, 75, 69, 76, 50, 58, 2, 61, 67, 63, 26, 93, 45, 64, 30, 84, 57, 43, 56, 72, 55, 46, 66, 41, 99, 82, 15, 89, 1, 53, 40, 21, 85, 88, 18, 22, 91, 34, 80, 23, 47, 25, 7]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1=set(sample_list_1)
print(len(set1))


#print(type(set1))
#len(set1)

#yes, the lenght is 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
# Your code here
sample_list_2=[]
import random 
for i in range (0,80):
    number=random.randint(0,100)
    sample_list_2.append(number)
print(sample_list_2)

[90, 99, 20, 92, 96, 98, 77, 26, 63, 96, 30, 5, 81, 48, 19, 7, 74, 56, 82, 18, 19, 77, 0, 41, 46, 7, 82, 56, 86, 42, 92, 8, 61, 75, 58, 1, 20, 98, 29, 64, 45, 74, 27, 32, 1, 31, 32, 4, 10, 81, 13, 1, 54, 4, 15, 43, 44, 38, 52, 4, 7, 97, 44, 26, 32, 23, 25, 79, 72, 15, 95, 19, 38, 100, 35, 14, 23, 60, 99, 30]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here

set2=set(sample_list_2)

print(type(set2))
print(len(set2))

#no, the values that are similar don't appearr

<class 'set'>
54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here
set3={}
set3=set1-set2
print(set3)

{2, 3, 6, 9, 12, 16, 17, 21, 22, 28, 33, 34, 36, 39, 40, 47, 49, 50, 51, 53, 55, 57, 59, 62, 65, 66, 67, 68, 69, 70, 73, 76, 78, 80, 83, 84, 85, 87, 88, 89, 91, 93}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
set4={}
set4=set2-set1
print(set4)

{96, 98, 100, 5, 10, 74, 77, 92, 19, 20, 86, 90, 27, 60, 95, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# Your code here
set5={}
set5=set1 & set2
print(set5)

{0, 1, 4, 7, 8, 13, 14, 15, 18, 23, 25, 26, 29, 30, 32, 35, 38, 41, 42, 43, 44, 45, 46, 48, 52, 54, 56, 58, 61, 63, 64, 72, 75, 79, 81, 82, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [11]:

print("Formula-> union set1 and set2=(set1-set2)+(set2-set1)+(set1 intersection set2)")
f={}
g={}
h={}
i={}
f=set1.union(set2)
g=set1.difference(set2)
h=set2.difference(set1)
i=set1.intersection(set2)
print("Relationshiplenght-> union=lenghtset3+lenghtset4+lenghset5)")

Formula-> union set1 and set2=(set1-set2)+(set2-set1)+(set1 intersection set2)
Relationshiplenght-> union=lenghtset3+lenghtset4+lenghset5)

#### Create an empty set called `set6`.

In [32]:
# Your code here
set6={ }

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [35]:
# Your code here
set6=set3.update(set5)

#### Check if `set1` and `set6` are equal.

In [36]:
# Your code here
print(set1==set6)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [15]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [24]:
# Your code here
set7=set.union(set3,set4,set5)
set8=set.union(set7,set1,set2)
print(set7,set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100} {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [25]:
# Your code here
set1.pop()
len(set1)

73

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [42]:
# Your code here
list_to_remove =[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
b=set1.copy()
for i in set1:
    for x in list_to_remove:
        if i==x:
            b.remove(x)
print(b)

{8, 12, 13, 14, 15, 16, 17, 18, 22, 23, 25, 26, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 75, 76, 78, 80, 82, 83, 84, 85, 87, 88, 93, 97}