# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [96]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy.stats import fisher_exact
from scipy.interpolate import interp1d
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from numpy import random
import math
import scipy.stats as stats
import statistics

import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import t

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [12]:
# Your code here:
df= pd.read_csv('/Users/anak/Downloads/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [11]:
# Your code here:

df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [14]:
# Your code here:
df.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [15]:
# Your code here:

df['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [26]:
# Your code here:
department=df['Department'].groupby([df.Department]).agg('count')
department

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [54]:
# Your code here:
hourly=df[(df['Salary or Hourly']=='Hourly')]
print(stats.ttest_1samp(hourly['Hourly Rate'],30,alternative='greater')) 

#the hypothesis is rejected

Ttest_1sampResult(statistic=20.6198057854942, pvalue=2.1615120243114947e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [64]:
# Your code here:
police=df[(df['Salary or Hourly']=='Salary')  & ((df['Department']=='POLICE') | (df['Department']=='POLICE BOARD'))]
print(stats.ttest_1samp(police['Annual Salary'],86000,alternative='greater'))

Ttest_1sampResult(statistic=3.081859442309168, pvalue=0.0010306457005664076)

In [ ]:
#hypothesys rejected

Using the `crosstab` function, find the department that has the most hourly workers.

In [90]:
# Your code here:

ana=pd.crosstab([df['Department'],df['Salary or Hourly']],columns='count salary_Hourly',values=df['Salary or Hourly'],aggfunc='count',)
ana.sort_values(by='count salary_Hourly',ascending=False)

col_0                                   count salary_Hourly
Department            Salary or Hourly
POLICE                Salary                          13404
FIRE                  Salary                           4639
STREETS & SAN         Hourly                           1862
WATER MGMNT           Hourly                           1513
OEMC                  Hourly                           1273
AVIATION              Hourly                           1082
OEMC                  Salary                            829
GENERAL SERVICES      Hourly                            765
TRANSPORTN            Hourly                            725
PUBLIC LIBRARY        Salary                            716
AVIATION              Salary                            547
FINANCE               Salary                            516
HEALTH                Salary                            485
TRANSPORTN            Salary                            415
LAW                   Salary                            367
WATER MGMNT           Salary                            366
CITY COUNCIL          Salary                            347
STREETS & SAN         Salary                            336
FAMILY & SUPPORT      Salary                            328
PUBLIC LIBRARY        Hourly                            299
FAMILY & SUPPORT      Hourly                            287
BUILDINGS             Salary                            269
GENERAL SERVICES      Salary                            215
COMMUNITY DEVELOPMENT Salary                            203
BUSINESS AFFAIRS      Salary                            164
COPA                  Salary                            116
BOARD OF ELECTION     Salary                            107
DoIT                  Salary                             99
PROCUREMENT           Salary                             90
INSPECTOR GEN         Salary                             87
CITY CLERK            Salary                             84
MAYOR'S OFFICE        Salary                             77
HUMAN RESOURCES       Salary                             75
CITY COUNCIL          Hourly                             64
ANIMAL CONTRL         Salary                             62
CULTURAL AFFAIRS      Salary                             58
FINANCE               Hourly                             44
BUDGET & MGMT         Salary                             44
LAW                   Hourly                             40
ADMIN HEARNG          Salary                             39
DISABILITIES          Salary                             28
TREASURER             Salary                             22
ANIMAL CONTRL         Hourly                             19
HUMAN RELATIONS       Salary                             16
POLICE                Hourly                             10
BOARD OF ETHICS       Salary                              8
MAYOR'S OFFICE        Hourly                              8
BUSINESS AFFAIRS      Hourly                              7
CULTURAL AFFAIRS      Hourly                              7
COMMUNITY DEVELOPMENT Hourly                              4
HUMAN RESOURCES       Hourly                              4
HEALTH                Hourly                              3
POLICE BOARD          Salary                              2
PROCUREMENT           Hourly                              2
FIRE                  Hourly                              2
BUDGET & MGMT         Hourly                              2
LICENSE APPL COMM     Salary                              1

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
.sort_values(by='count salary_Hourly',ascending=False)

In [86]:
# Your code here:
streets=df[(df['Salary or Hourly']=='Hourly')  & (df['Department']=='STREETS & SAN')]
print(stats.ttest_1samp(streets['Hourly Rate'],35,alternative='less'))
streets['Hourly Rate'].mean()

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21)

33.728378088076845

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [115]:
# Your code here:

hourly=df[(df['Salary or Hourly']=='Hourly')]
stde=np.std(hourly['Hourly Rate'])/np.sqrt(len(hourly['Hourly Rate']))
t.interval(alpha=0.95, df=len(hourly['Hourly Rate'])-1, loc=np.mean(hourly['Hourly Rate']),scale=stde)

(32.523474868671975, 33.05364056389059)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [114]:
# Your code here:
police=df[((df['Department']=='POLICE') | (df['Department']=='POLICE BOARD')) & (df['Salary or Hourly']=='Salary')]

stde=np.std(police['Annual Salary'])/np.sqrt(len(police['Annual Salary']))
t.interval(alpha=0.95, df=len(police['Annual Salary'])-1, loc=np.mean(police['Annual Salary']),scale=stde)

(86177.03502076589, 86795.68943097214)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: