# Bonus Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [6]:
# Import libraries
import numpy as np
import pandas as pd
from scipy.stats import fisher_exact
from scipy.interpolate import interp1d
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from numpy import random
import math
import scipy.stats as stats
import statistics

import matplotlib.pyplot as plt
import seaborn as sns

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use Ironhack's database to load the data (db: pokemon, table: pokemon_stats).

In [29]:
# Your code here:
pokemon = pd.read_csv('/Users/anak/Downloads/pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [25]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    dicta={}
    for i in features:
        a=s1[i]
        b=s2[i]
        val=stats.ttest_ind(b, a,equal_var=False)
        dicta[i]=val[1]

    # Your code here
    
    return dicta

In [27]:
legen=pokemon[(pokemon['Legendary']==True)]
notlegen=pokemon[(pokemon['Legendary']==False)]
features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [28]:
# Your code here
t_test_features(legen,notlegen,features)

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here
#p-value is below 0.05, 
#we can confidently declare the null-hypothesis is rejected and the difference is significant

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [30]:
# Your code here
gen1=pokemon[(pokemon['Generation']==1)]
gen2=pokemon[(pokemon['Generation']==2)]
features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']
t_test_features(gen1,gen2,features)

{'HP': 0.14551697834219623,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104394,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

#### What conclusions can you make?

In [ ]:
# Your comment here
# p-value is above 0.1 for all except 'Speed'. we do not reject the null-hypothesis 
#for speed, we reject the null-hypothesis

#### Compare pokemons who have single type vs those having two types.

In [35]:
# Your code here
gen1.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.0
mean,75.819277,426.813253,65.819277,76.638554,70.861446,71.819277,69.090361,72.584337,1.0
std,45.153246,115.878076,28.153968,30.744727,28.641336,34.439106,25.505275,29.675857,0.0
min,1.000000,195.000000,10.000000,5.000000,5.000000,15.000000,20.000000,15.000000,1.0
25%,36.250000,325.000000,46.500000,55.000000,50.000000,45.000000,50.000000,50.000000,1.0
50%,76.500000,436.500000,62.000000,75.000000,66.000000,65.000000,70.000000,70.000000,1.0
75%,115.000000,500.000000,80.000000,95.000000,85.000000,95.000000,85.000000,92.250000,1.0
max,151.000000,780.000000,250.000000,190.000000,180.000000,194.000000,130.000000,150.000000,1.0

In [34]:
gen2.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.0
mean,202.283019,418.283019,71.207547,72.028302,73.386792,65.943396,73.905660,61.811321,2.0
std,28.769612,120.114133,30.589359,32.708658,39.233749,27.814977,31.534268,27.263132,0.0
min,152.000000,180.000000,20.000000,10.000000,10.000000,10.000000,20.000000,5.000000,2.0
25%,178.250000,330.000000,51.250000,50.000000,45.750000,40.000000,55.000000,40.000000,2.0
50%,203.500000,422.500000,70.000000,73.500000,70.000000,65.000000,65.000000,60.500000,2.0
75%,226.750000,500.000000,88.750000,90.000000,90.000000,84.500000,95.000000,85.000000,2.0
max,251.000000,700.000000,255.000000,185.000000,230.000000,165.000000,230.000000,130.000000,2.0

#### What conclusions can you make?

In [ ]:
# Your comment here
#the most of the data are similar: same quantity,and means not very differents, for that
#reason we got the null hypothesis true for the most of them

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [36]:
# Your code here
#same population 
print(pokemon['Defense'].mean())
print(pokemon['Attack'].mean())
stats.ttest_rel(pokemon['Defense'],pokemon['Attack'])

73.8425
79.00125

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [37]:
print(pokemon['Sp. Atk'].mean())
print(pokemon['Sp. Def'].mean())
stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

72.82
71.9025

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

#### What conclusions can you make?

In [ ]:
""""
For defense and attack, we can reject the null hypothesis 


For Sp. Atk and Sp. Def, we can not reject the the null hypothesis 
more similar data