<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 3</a></span><ul class="toc-item"><li><span><a href="#Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?" data-toc-modified-id="Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Q1: How to identify VIP &amp; Preferred Customers?</a></span></li><li><span><a href="#How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>How to label customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?" data-toc-modified-id="Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?-1.2.0.1"><span class="toc-item-num">1.2.0.1&nbsp;&nbsp;</span>Sub Problem 1: How to aggregate the  <code>amount_spent</code> for unique customers?</a></span></li><li><span><a href="#Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2.0.2"><span class="toc-item-num">1.2.0.2&nbsp;&nbsp;</span>Sub Problem 2: How to select customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span></li><li><span><a href="#Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?" data-toc-modified-id="Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?-1.2.0.3"><span class="toc-item-num">1.2.0.3&nbsp;&nbsp;</span>Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?</a></span></li></ul></li></ul></li><li><span><a href="#Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?" data-toc-modified-id="Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Q2: How to identify which country has the most VIP Customers?</a></span></li><li><span><a href="#Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?" data-toc-modified-id="Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Q3: How to identify which country has the most VIP+Preferred Customers combined?</a></span></li></ul></li></ul></div>

# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [5]:
# your code here
orders=pd.read_csv('Orders.csv')

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [7]:
# your code here
ordersor = orders.groupby('CustomerID', as_index=False).agg({'amount_spent':'sum'})
ordersor.sort_values('amount_spent', ascending=False, inplace=True)
ordersor

      CustomerID  amount_spent
1690       14646     280206.02
4202       18102     259657.30
3729       17450     194550.79
3009       16446     168472.50
1880       14911     143825.06
...          ...           ...
4099       17956         12.75
3015       16454          6.90
1794       14792          6.20
3218       16738          3.75
685        13256          0.00

[4339 rows x 2 columns]

In [13]:
orders = orders[['CustomerID','amount_spent','Country']]

solo = orders.groupby('CustomerID',as_index=False).sum()
solo.sort_values(by='amount_spent', ascending = False)

      CustomerID  amount_spent
1690       14646     280206.02
4202       18102     259657.30
3729       17450     194550.79
3009       16446     168472.50
1880       14911     143825.06
...          ...           ...
4099       17956         12.75
3015       16454          6.90
1794       14792          6.20
3218       16738          3.75
685        13256          0.00

[4339 rows x 2 columns]

In [21]:
vip= solo.amount_spent.quantile(0.95)
vips = solo.loc[(solo['amount_spent'] >= vip)]
print(vip)
vips

5840.181999999983

      CustomerID  amount_spent
0          12346      77183.60
10         12357       6207.67
12         12359       6372.58
50         12409      11072.67
55         12415     124914.53
...          ...           ...
4207       18109       8052.97
4229       18139       8438.34
4253       18172       7561.68
4292       18223       6484.54
4298       18229       7276.90

[217 rows x 2 columns]

In [23]:
perc = solo.amount_spent.quantile([.75, .95])
perc # 0.75 is 1661.640, 0.95 is 5840.182

0.75    1661.640
0.95    5840.182
Name: amount_spent, dtype: float64

In [26]:
prefcust = solo.loc[(solo['amount_spent'] >= 1661.640) & (solo['amount_spent'] < 5840.182)]
prefcust

      CustomerID  amount_spent
1          12347       4310.00
2          12348       1797.24
3          12349       1757.55
5          12352       2506.04
9          12356       2811.43
...          ...           ...
4319       18259       2338.60
4320       18260       2643.20
4328       18272       3078.58
4337       18283       2094.88
4338       18287       1837.28

[868 rows x 2 columns]

In [27]:
solo['Client_type'] =np.where(solo['amount_spent']>=1661.640, 'Preferred_customer','')
solo['Client_type'] =np.where(solo['amount_spent']>=5840.182, 'VIP', solo['Client_type'])
solo.head()
solo['Client_type'].value_counts()

                      3254
Preferred_customer     868
VIP                    217
Name: Client_type, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [28]:
solo['Country']=""
solo['Country']=solo['CustomerID'].map(orders['Country'])
solo['Country'].value_counts()

United Kingdom     3948
France               74
Germany              66
Norway               60
EIRE                 60
Spain                46
Japan                39
Denmark              17
Portugal             17
Channel Islands      12
Name: Country, dtype: int64

In [29]:
vip=solo[solo['Client_type']== 'VIP']
vip['Country'].value_counts()

United Kingdom    191
Germany             6
Norway              6
France              6
EIRE                3
Spain               2
Portugal            2
Japan               1
Name: Country, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [31]:
# your code here
Pref=solo[solo['Client_type']== 'Preferred_customer']

todo = [VIP, Pref]
todos= pd.concat(todo)
todos['Country'].value_counts()

United Kingdom     780
Norway              18
Germany             16
France              13
Spain               13
EIRE                 9
Denmark              8
Japan                5
Portugal             4
Channel Islands      2
Name: Country, dtype: int64