# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [24]:
# import numpy and pandas
import pandas as pd
import numpy as np
from numpy import random
import math
import scipy.stats as stats
import statistics

import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('/Users/anak/Downloads/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [23]:
legen=pokemon[(pokemon['Legendary']==True)]
notlegen=pokemon[(pokemon['Legendary']==False)]
print(legen['Total'].mean()," Mean legen")
print(notlegen['Total'].mean()," Mean not legen")
print(np.std(legen['Total'])," std legen")
print(np.std(notlegen['Total'])," std not legen")

637.3846153846154  Mean legen
417.21360544217686  Mean not legen
60.46682302213781  std legen
106.68776660321996  std not legen

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [27]:
# Your code here:
stats.ttest_ind(legen['Total'], notlegen['Total'],equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

#we can reject the null hypothesis of identical average scores because P is too small

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [28]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [58]:
# Your code here:
poke=pd.crosstab(pokemon['Type 1'],columns='mean')
poke

col_0     mean
Type 1
Bug         69
Dark        31
Dragon      32
Electric    44
Fairy       17
Fighting    27
Fire        52
Flying       4
Ghost       32
Grass       70
Ground      32
Ice         24
Normal      98
Poison      28
Psychic     57
Rock        44
Steel       27
Water      112

In [67]:
water=pokemon[(pokemon['Type 1']=='Water')]
notwater=pokemon[(pokemon['Legendary']!='Water')]
print(water['Total'].mean()," Mean legen")
print(notwater['Total'].mean()," Mean not legen")
print(np.std(water['Total'])," std legen")
print(np.std(notwater['Total'])," std not legen")

430.45535714285717  Mean legen
435.1025  Mean not legen
112.68182832909096  std legen
119.88803941073523  std not legen

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [68]:
stats.ttest_ind(water['Total'], notwater['Total'],equal_var=True)

Ttest_indResult(statistic=-0.3865645058398148, pvalue=0.6991690098764859)

Write your conclusion below.

In [10]:
# Your conclusions here:
#mean are similar

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [73]:
# Your code here:
print(pokemon['Defense'].mean())
print(pokemon['Attack'].mean())
stats.ttest_rel(pokemon['Defense'],pokemon['Attack'])

73.8425
79.00125

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

#we cannot reject the null hypothesis of identical average scores

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [71]:
# Your code here:
print(pokemon['Sp. Atk'].mean())
print(pokemon['Sp. Def'].mean())
stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

72.82
71.9025

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

#we cannot reject the null hypothesis of identical average scores

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [89]:
# Your code here:
a=pokemon['Attack'].mean()
print(stats.ttest_1samp(pokemon['Defense'],a))   
a=pokemon['Defense'].mean()
print(stats.ttest_1samp(pokemon['Attack'],a) )

Ttest_1sampResult(statistic=-4.679124590910434, pvalue=3.3829080435248473e-06)
Ttest_1sampResult(statistic=4.4954813919438585, pvalue=7.967950832362132e-06)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: